<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/matrix.css' | relative_url }}">
</head>
<body>
    <canvas id="matrix-canvas"></canvas>
    
    <div>█ █<span style="color:black"> █ █ █ █ █ █ █ █ █ █ █ </span>20%
      <br>$&gt; Coming soon...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br>$&gt; <span>█</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <script src="{{ '/assets/js/matrix.js' | relative_url }}"></script>
</body>
</html>